@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  transition: all 0.5s;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.movie-list .card:hover {
  transform: translate(0, -10px);
}
